/*
.grid-about > .grid-item {
    border: solid black 5px;
}
*/

.grid-about {
    background-color:#ffeebf;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 45% 25%;
    grid-template-rows: 10% 8% 8% 74%;
}

.grid-about > .header {
    text-align: center;
    grid-column: 1/4;

}

.grid-about .page-title::before {
    content: '';
    display: inline-block;
    vertical-align: middle;     
    height: 100%;
    
}

.grid-about > .page-title {
    grid-column: 1/4;
    font-size: 150px;
    font-family: 'B612 Mono', monospace;
    text-align: center;
}
.grid-about .description-title::before {
    content: '';
    display: inline-block;
    vertical-align: middle;     
    height: 100%;
}

.grid-about > .description-title {
    grid-column: 2/4;
    font-size: 100px;
    font-family: 'B612 Mono', monospace;
    /*padding-left: 5%;*/
}

.grid-about > .profile-outer-container {
    grid-row: 3/5;
}

.profile-outer-container > .profile-image-container {
    width: 75%;
    height: 80%;
    margin: auto;
    border: solid black 10px;
    background: url("../img/profile.jpg") no-repeat fixed;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.profile-outer-container > .download-resume {
    margin: auto;
    margin-top: 100px;
    width: 75%;
    height: 100px;
    border: solid black 10px;
    background: url("../img/download.png") no-repeat fixed;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
} 
.grid-about > .info-container {
    padding-left: 50px;
    padding-right: 50px;
}
.info-container > .info-on-me {
    font-size: 70px;
    font-family: 'B612 Mono', monospace;
    line-height: 175px;
    text-align: justify;
}

.contact-container > .contact-title {
    font-size: 100px;
    font-family: 'B612 Mono', monospace;
    text-align: center;
}

.contact-container > .contact-info {
    font-size: 65px;
    line-height: 150px;
    font-family: 'B612 Mono', monospace;
    text-align: left;
    padding-left: 100px;
}

.contact-container > .social-container {
    margin-top: 100px;
    text-align: center;
}

.social-container > .social-title {
    font-size: 100px;
    font-family: 'B612 Mono', monospace;
    margin-bottom: 30px;
}