.grid-homepage {
    background: url("../img/background.jpg") no-repeat fixed 100% 100%; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: 10% 90%;
    text-align: center;
}

/* Set the header to expand over all columns */
.grid-homepage > .header {
    grid-column: 1/5;
}

/*Hide the Home Button on the Landing Page */
.hidden {
    display: none;
}

/*For Vertical Centre Alignment of containing element */
.jumbotron-container::before {      
    content: '';
    display: inline-block;
    vertical-align: middle;     
    height: 100%;
}

.jumbotron {
    display: inline-block;
    vertical-align: middle;    
}

.title {
    font-size: 250px;
    font-family: 'B612 Mono', monospace;
    color:black;
    margin: 0;
}

#fluff {
    font-size: 100px;
    font-family: 'B612 Mono', monospace;
    color:  black;
    margin-top: 0;
    margin-bottom: 100px;
}

.primary-button {
    font-size: 100px;
    font-family: 'B612 Mono', monospace;
    background-color: transparent;
    color:black;
    padding: 30px;
}

