html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../img/background.jpg") no-repeat fixed 100% 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root{
    width: 100%;
    height: 100%;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: 100%;
}

.grid-item {
    text-align: center;
}

#jumbotron-container:before {      
    content: '';
    display: inline-block;
    vertical-align: middle;     /* vertical alignment of the inline element */
    height: 100%;
}

.jumbotron {
    display: inline-block;
    vertical-align: middle;    
}

#title {
    font-size: 250px;
    font-family: 'B612 Mono', monospace;
    color:black;
    margin: 0;
}

#fluff {
    font-size: 100px;
    font-family: 'B612 Mono', monospace;
    color:  black;
    margin-top: 0;
    margin-bottom: 100px;
}

.primary-button {
    font-size: 100px;
    font-family: 'B612 Mono', monospace;
    background-color: transparent;
    color:black;
    padding: 10px;
    /*border: solid 10px wheat; */
}

