html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../img/background.jpg") no-repeat fixed 100% 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}

.jumbotron {
    /*add later*/
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    height: 100%;
}