.navbar-controls {
    padding: 20px;
    margin-top: 50px;
    margin-right: 150px;
    width: 600px;
    font-size: 75px;
    font-family: 'B612 Mono', monospace;
    background-color: transparent;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}
